.dashboardComponent {
  padding: 0;
  .dashboardMain {
    padding: 0;
    .comingSoon {
      height: 500px;
      width: 100%;

      max-width: 100%;
      background-image: url("../../../assets/comingSoon.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}