.MarketPlaceComponent{
  .MarketPlaceTitle{
    margin: 25px 50px;
    font-size: 1.6em;
    width: 250px;
  }
  .contentTitle{
    margin: 0 50px;
    filter: brightness(70%);
  }
  .buttonShareEarn{
    color: #43A047;
    margin-top: 50px;
  }
  .MarketPlaceMain{
    height: 800px;
    background: #131416;
    .papersMain{
      font-size: 0.9em;
      .buttonReadMore{
        color: #616161
      }
      .myAcc{
        width: 25%;
        background: #2E2F30;
        .titleMyAcc{
          margin: 0;
          padding: 5px 25px;
          color: #00EE7A;
        }
        .balanceMyAcc{
          background: #1E1F21;
          display: flex;
          flex-direction:row;
          padding: 10px 0px 10px 25px;
        }
      }
    }

  }
}