.HistoryComponent{
  .HistoryTitle{
    margin: 25px 50px;
    font-size: 1.6em;
    width: 250px;
  }
  .contentTitle{
    margin: 0 50px;
    filter: brightness(70%);
  }
  .HistoryMain{
    margin-top: 50px;
    height: 800px;
    background: #131416;
  }
}