body {
  margin: 0;
  padding: 0;
  position: relative;
  color: white;
  background-color: #232c39;
  max-width: 100%;
  height: 100vh;
  background-image: url("./../public/Materials/loginBG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}