.RegistrationComponent {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  background-image: url("./../../../assets/Materials/Registration_background.jpg");
  background-position-y: -100px;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(70%);

  .RegistrationTitle {
    margin: auto;
    margin-top: 60px;
    font-size: 2.6em;
    width: 250px;
    font-family: Arial;
    font-weight: bold;
    height: 150px;
  }
  .buttonExit {
    position: absolute;
    right: 70px;
    bottom: 60px;
    width: 190px;
    height: 40px;
    background: #616161;
    font-family: Arial;
    -webkit-text-fill-color: white;
  }
  .buttonRegister {
    background: #1B5E20;
    position: absolute;
    bottom: 130px;
    right: 70px;
    width: 190px;
    height: 40px;
    font-family: Arial;
    -webkit-text-fill-color: white;
  }
  .RegistrationMain {
    height: 800px;
    background: #212121;
    .btn_login, .btn_forgot {
      margin: 10px 0;
    }
    .Line {
      margin-left: 135px;
      margin-top: 40px;
      margin-bottom: 52px;
      font-size: 0.9em;
      font-family: Arial;
    }
    .Line1 {
      margin-left: 70px;
      margin-top: 40px;
      margin-bottom: 52px;
      font-size: 0.9em;
      font-family: Arial;
    }
  }
}

