.RegistrationMain {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 25%;
  .btn_login, .btn_forgot {
    margin: 10px 0;
  }
  .buttonMain {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 35px;
    background: #2E7D32;
  }
}

